/* css styles */
.publication-reference {
    background-color: rgba(var(--bs-primary-rgb), 0.05);
    padding: 0.75em;
    margin: 1em 0;
}

ul.project-links {
        margin-bottom: 0;
}

a {
        overflow-wrap: break-word;
}

.left {
  float: left;
  width: 30%;
}
.right {
  float: right;
  width: 65%;
}
img {
 max-width: 100%;
 height: auto;
}
.group:after {
   content:"";
   display: table;
   clear: both;
}

@media screen and (max-width: 480px) {
    .left, .right {
      float: none;
      width: auto;
}
}